body {
  font-family: 'Roboto Slab', serif;
}

/* Utilities */
.white-color {
  color: white;
}

.grey-color {
  color: #2c3e50;
}

.light-grey-color {
  color: #6c757d;
}

/* Buttons */
.btn {
  padding: 15px;
  border-color: transparent;
  transition: background .4s;
}

.btn-download {
  color: white;
  border: 2px solid;
}

.btn-download:hover {
  color: #2c3e50;
  border-color: white;
  background: white;
}

.btn-download a {
  color: white;
}

.btn.icon-left i {
  padding-bottom: 9px;
  margin-right: 15px;
  font-size: 8px;
}

/* HEADER */
/* Barra navigazione */
/* Main header */
.main-header .navbar {
  background: #2c3e50;
  border-radius: 0;
  border: none;
}

.main-header .navbar-brand {
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0 15px;
  color: white;
}

.main-header .navbar-right {
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 15px;
  color: white;
}

/* solo i li figli diretti e a figli diretti di li */
.main-header .navbar-nav li a {
  line-height: 80px;
  padding: 0 15px;
  padding: 0 15px;
  color: white;
  transition: background .4s;
}

.main-header .navbar-nav > li > a:hover {
  background: #2c3e50;
  color: #1abc9c;
}

.navbar .navbar-toggle {
  margin-top: 20px;
}
.navbar .navbar-toggle .icon-bar {
  background: white;
}


/* JUMBOTRON */
.jumbotron {
  background: #1abc9c;
  margin-top: -20px;
}

.img-circle {
  width: 200px;
}

.jumbotron h1{
  line-height: 80px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 35px;
  color: white;
}

.jumbotron hr {
  border-top: 3px solid #FFF;
}

.jumbotron i {
  margin-top: 12px;
  transform: scale(2.5);
}

.jumbotron p {
  margin-top: 40px;
}

/* PORTFOLIO */
.portfolio hr {
  border-top: 3px solid #2c3e50;
}

.portfolio h1{
  line-height: 80px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 35px;
  color: #2c3e50;
}

.portfolio i {
  margin-top: 12px;
  transform: scale(2.5);
}

.portfolio img {
  height: 230px;
  width: 330px;
  margin: 40px;
  border-radius: 5%;
}

.portfolio img:hover {
  opacity: 0.2;
}


/* ABOUT */
.about {
  background: #1abc9c;
}

.about hr {
  border-top: 3px solid #FFF;
}

.about i {
  margin-top: 12px;
  transform: scale(2.5);
}

.about p {
  margin-top: 40px;
}

.about .btn-download {
  margin: 30px 0;
}

/* CONTACT ME */
footer {
  background: #2c3e50;
}
