body {
  padding-top: 90px; /*  90 perchè ho già messo 20 padding su .main-header .navbar */
  font-family: 'Lato', sans-serif;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-green {
  background: #1abc9c;
  color: white;
}

.mb-30 {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top:0;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
}
h2 {
  font-size: 50px;
  text-transform: uppercase;
}
p {
  font-size: 20px;
}

/* Buttons */
.btn {
  padding: 16px 25px;
  font-size: 21px;
  border-color: transparent;
  border-radius: 7px;transition: background .4s;
}
.btn-primary {
  background: #1abc9c;
}
.btn-primary:hover {
  background: #3d8f7f;
}

.btn-ouline {
  color: white;
  border: 2px solid;
}
.btn-ouline:hover {
  background: white;
  border-color: white;
}
.btn.icon-left i {
  margin-right: 8px;
}

/* HEADER */
.main-header .navbar {
  margin-bottom: 0;
  background: #2c3e50;
  border: none;
  border-radius: 0;
  padding: 20px 0;
}

.main-header .navbar-brand,
.main-header .navbar-nav li a {
  text-transform: uppercase;
  color: white;
}

.main-header .navbar-brand {
  font-size: 26px;
}

.main-header .navbar-nav li a {
  font-size: 16px;
  transition: color .4s;
}

.main-header .navbar-nav li a:hover {
  color: #1abc9c;
}

/* JUMBOTRON */
.jumbotron-image {
  max-width: 250px;
  margin-bottom: 20px;
}

.jumbotron h3 {
  font-weight: 400;
}

/* STAR WHITE*/
.star {
  width: 300px;
  max-width: 100%;
  margin: 30px auto;
  text-align: center;
}
.star::before,
.star::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  border-radius: 2px;
  background: white;
}
.star i.fa-star {
  display: inline-block;
  width: 20%;
  font-size: 30px;
  vertical-align: middle;
}

/* Star blue */
.star .star-blue::before,
.star .star-blue::after {
  background: #2c3e50;
}
.star .star-blue i.fa-star {
  color: #2c3e50;
}

/* PORTFOLIO */
.portfolio-item {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;   /* per nascondere ciò che è fuori */
}

.portfolio-layover {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(26, 188, 156, .7);
  opacity: 0;
  transition: opacity .4s;
}

.portfolio-layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: white;
}

.portfolio-item:hover .portfolio-layover {
  opacity: 1;
}

/* ABOUT */
.about .left {
  padding-right: 15px;
}

.about .right {
  padding-left: 15px;
}

/* CONTATCS */
.contacts .form-group {
  margin-bottom: 0;
}

.contacts input,
.contacts textarea {
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0;
  font-size: 24px;
  color: #2c3e50;
}

.contacts input:focus,
.contacts textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #2c3e50;
}

.contacts input {
  padding: 0;
  height: 100px;
  line-height: 100px;
}

.contacts textarea {
  padding: 30px 0;
  margin-bottom: 30px;
  height: 250px;
}

.contacts ::placeholder {
  color: #6c757d;
}

/* FOOTER */
.main-footer {
  color: white;
}

.main-footer .link-green {
  color:#1abc9c;
}
.main-footer .link-green:hover {
  color: #3d8f7f;
}

.footer-pre {
  background: #2c3e50;
  padding: 60px 0;
}

.footer-box .social a {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 52px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  border: 2px solid;
}

.footer-sub {
  padding: 20px 0;
  background: #1a252f;
}

.footer-sub p {
  margin: 0;
  font-size: 12px;
}

/* PIU' SMALL DEI TABLET */
@media screen and (max-width: 767px) {
  /* Layout */
  section {
    padding: 40px 0;
  }

  /* About */
  .about .left {
    padding-right: 0;
  }
  .about .right {
    padding-left: 0;
  }

  /* Tipografia */
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }
}

/* PIU' SMALL DEI DESKTOP */
@media screem and (max-width: 991px) {
  .footer-sub {
    margin-bottom: 30px;
  }
}
